/* Aggiungi un font moderno */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Definisci l'animazione di dissolvenza */
@keyframes fadeIn {
    0% {
        opacity: 0;  /* Inizia invisibile */
    }
    100% {
        opacity: 1;  /* Diventa visibile */
    }
}

/* Reset dei margini e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e font */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #383E42;
    color: #ECE9E4;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
header .logo {
    margin-left: 20px;
}

header .logo img {
    max-width: 200px;
    height: auto;   
}

/* Navigazione */
header nav {
    flex-grow: 1;   /* Questo fa sì che il contenitore nav occupi lo spazio rimanente */
    display: flex;
    justify-content: flex-start; /* Allinea i link verso sinistra */
    padding-left: 200px; 
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 0;
}

header nav ul li {
    margin: 0 40px;
}

header nav ul li a {
    color: #ECE9E4;
    text-decoration: none;
    font-size: 1.0rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #F48037;   /* Colore al passaggio del mouse (arancio) */
}

/* Footer */
footer {
    background-color: #383E42; /* Colore di sfondo */
    color: #ECE9E4; /* Colore del testo */
    padding: 40px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* Crea 4 colonne di larghezza uguale */
    gap: 20px;  /* Distanza tra le colonne */
}

.footer-section {
    padding: 10px;
}

.footer-section h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    font-size: 1rem;
    color: #ECE9E4;
    text-decoration: none;
}

.footer-section a:hover {
    color: #F48037;
}

.footer-section i {
    font-size: 2rem;  /* Imposta la dimensione dell'icona */
    color: #ECE9E4;  /* Colore dell'icona */
    margin: 10px;  /* Distanza tra le icone */
    transition: color 0.3s ease;  /* Effetto di transizione per il cambio colore */
}

.footer-section i:hover {
    color: #F48037;  /* Colore delle icone al passaggio del mouse */
}