/* Aggiungi un font moderno */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Definisci l'animazione di dissolvenza */
@keyframes fadeIn {
    0% {
        opacity: 0;  /* Inizia invisibile */
    }
    100% {
        opacity: 1;  /* Diventa visibile */
    }
}

/* Reset dei margini e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e font */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #383E42;
    color: #ECE9E4;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
header .logo {
    margin-left: 20px;
}

header .logo img {
    max-width: 200px;
    height: auto;   
}

/* Navigazione */
header nav {
    flex-grow: 1;   /* Questo fa sì che il contenitore nav occupi lo spazio rimanente */
    display: flex;
    justify-content: flex-start; /* Allinea i link verso sinistra */
    padding-left: 200px; 
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 0;
}

header nav ul li {
    margin: 0 40px;
}

header nav ul li a {
    color: #ECE9E4;
    text-decoration: none;
    font-size: 1.0rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #F48037;   /* Colore al passaggio del mouse (arancio) */
}

/* Sezione Hero */
.hero {
    background: url('Image/training-828741_1280.jpg') no-repeat center center;
    background-size: cover;
    color: #ECE9E4;
    text-align: left;
    padding: 100px 0;
    height: 100vh;  /* Imposta l'altezza della sezione hero pari all'altezza della finestra */
}

/* Applicare l'animazione al testo */
.hero h2, .hero p {
    animation: fadeIn 2s ease-out;
    opacity: 0;  /* Imposta l'opacità iniziale a 0 */
    animation-delay: 0.5s;  /* Ritarda di mezzo secondo l'inizio dell'animazione (opzionale) */
    animation-fill-mode: forwards;  /* Mantieni l'opacità finale dopo l'animazione */
}

.hero-content {
    max-width: 800px;
    margin: 0;
    padding-left: 80px;
}

/* Stile per il pulsante */
.button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #F48037;
    color: #ECE9E4;
    text-align: center;
    text-decoration: none;
    border: 2px solid #F48037;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 20px; /* Aggiungi uno spazio sopra al pulsante */
    transition: background-color 0.3s;
    opacity: 0;  /* Impostiamo l'opacità iniziale a 0 */
    animation: fadeIn 2s ease-out;  /* Applicare la stessa animazione di dissolvenza */
    animation-delay: 1s;  /* Ritardo per far apparire il pulsante dopo il testo */
    animation-fill-mode: forwards;  /* Mantieni l'opacità finale dopo l'animazione */
}

.button:hover {
    background-color: transparent;
    border-color: #F48037;
}

.hero h2 {
    font-size: 4.5rem;
}

.hero p {
    font-size: 1.5rem;
    color: #F0EEE9;
}

/* Servizi */
.servizi {
    display: flex;
    flex-direction: column; /* Dispone gli elementi verticalmente */
    align-items: center; /* Centra gli elementi orizzontalmente */
    padding: 50px 0;
    background-color: #ECE9E4;
}

.servizi h2 {
    margin: 0; /* Rimuove i margini predefiniti */
    color: #383E42; /* Colore del testo */
    font-size: 2.5rem; /* Dimensione del titolo */
    text-align: center; /* Allinea il testo al centro */
}

/* Container per le card */
.card-container {
    display: flex; /* Dispone le card in fila orizzontale */
    justify-content: space-around; /* Spaziatura uniforme tra le card */
    gap: 20px; /* Distanza tra le card */
    margin-top: 2rem; /* Spazio tra il titolo e le card */
    width: 100%; /* Occupa tutta la larghezza della sezione */
}

.card {
    background-color: #F0EEE9;
    color: #383E42;
    border-radius: 8px;
    border: 3px solid #F48037; /* Aggiunge un bordo colorato */
    padding: 1rem;
    text-align: center;
    width: 30%; /* Ogni card occupa il 30% della larghezza */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
}

.card img {
    width: 100%; /* La larghezza dell'immagine si adatta alla larghezza della card */
    height: 200px; /* Imposta un'altezza fissa per tutte le immagini */
    object-fit: cover; /* Ritaglia l'immagine per adattarla al contenitore senza distorsioni */
    border-radius: 8px; /* Mantiene gli angoli arrotondati */
}

.card h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
}

.card-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #F48037;
    color: #ECE9E4;
    text-align: center;
    text-decoration: none;
    border: 2px solid #F48037;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: transparent;
    color: #383E42;
    border-color: #F48037;
}


/* Testimonianze 
.testimonianze {
    text-align: center;
    padding: 2rem 0;
}

.testimonianza {
    margin-bottom: 1.5rem;
    font-style: italic;
}
*/

/* Contatti 
.contatti {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.contatti form {
    margin-top: 20px;
}

.contatti input, .contatti textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.contatti button {
    padding: 10px 20px;
    background-color: #ff6600;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contatti button:hover {
    background-color: #e55b00;
}
*/

/* Footer */
footer {
    background-color: #383E42; /* Colore di sfondo */
    color: #ECE9E4; /* Colore del testo */
    padding: 40px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* Crea 4 colonne di larghezza uguale */
    gap: 20px;  /* Distanza tra le colonne */
}

.footer-section {
    padding: 10px;
}

.footer-section h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    font-size: 1rem;
    color: #ECE9E4;
    text-decoration: none;
}

.footer-section a:hover {
    color: #F48037;
}

.footer-section i {
    font-size: 2rem;  /* Imposta la dimensione dell'icona */
    color: #ECE9E4;  /* Colore dell'icona */
    margin: 10px;  /* Distanza tra le icone */
    transition: color 0.3s ease;  /* Effetto di transizione per il cambio colore */
}

.footer-section i:hover {
    color: #F48037;  /* Colore delle icone al passaggio del mouse */
}


/* ------------ Pagina Web Servizi ------------------------------------------- */

/* Stile per la sezione */
.intro-service {
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.9); /* Sfondo trasparente */
    color: #ECE9E4;
}

/* Layout flessibile */
.intro-service-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

/* Colonna immagine */
.intro-service-image {
    flex: 1;
    text-align: center;
}

.intro-service-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Colonna testo */
.intro-service-text {
    flex: 2;
    text-align: left;
    opacity: 0; /* Testo inizialmente nascosto */
    transform: translateY(20px); /* Spostato leggermente verso il basso */
    transition: opacity 1s ease, transform 1s ease; /* Transizione fluida */
}

.intro-service-text.visible {
    opacity: 1; /* Testo visibile */
    transform: translateY(0); /* Riporta il testo alla posizione originale */
}

/* Titoli e paragrafi */
.intro-service-text h1 {
    font-size: 2.5rem;
    color: #F48037;
    margin-bottom: 10px;
}

.intro-service-text h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #ECE9E4;
}

.intro-service-text p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

/* Sezione Allenamento One to One */
.one-to-one-section {
    text-align: center;
    color: #ECE9E4;
    background: rgba(0, 0, 0, 0.9); /* Trasparenza del nero (70%) */
    padding: 40px 20px;
    font-size: 1.2rem;
    line-height: 1.8;
    position: relative; /* Necessario per sovrapporre il testo all'immagine */
    z-index: 1; /* Porta il contenuto in primo piano */
}

.one-to-one-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Image/people-training-together-with-weight-lifting.jpg') no-repeat center center; /* Sostituisci con il percorso della tua immagine */
    background-size: cover;
    filter: grayscale(100%); /* Rende l'immagine in bianco e nero */
    z-index: -1; /* Porta l'immagine sullo sfondo */
    opacity: 0.4; /* Effetto trasparenza sull'immagine */
}

.one-to-one-text {
    opacity: 0; /* Testo inizialmente invisibile */
    transform: translateY(20px); /* Spostato leggermente verso il basso */
    transition: opacity 2s ease, transform 2s ease; /* Transizione fluida */
}

.one-to-one-section:hover .one-to-one-text {
    opacity: 1; /* Rende il testo visibile al passaggio del mouse */
    transform: translateY(0); /* Riporta il testo alla posizione originale */
}

.one-to-one-text.visible {
    opacity: 1; /* Rende il testo visibile quando entra nel viewport */
    transform: translateY(0); /* Posiziona il testo correttamente */
}

.one-to-one-section h2 {
    color: #F48037;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.one-to-one-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.benefits-list {
    list-style-type: none; /* Rimuove i punti dell'elenco */
    padding: 0; /* Rimuove i margini interni */
    text-align: center; /* Centra il contenuto della lista */
}

.benefits-list li {
    margin-bottom: 20px; /* Spaziatura tra gli elementi */
    font-size: 1.2rem; /* Dimensione del testo */
    position: relative; /* Necessario per la sottolineatura */
    color: #ECE9E4; /* Colore del testo */
    font-weight: bold; /* Grassetto per il testo */
    padding-bottom: 5px; /* Spazio per la sottolineatura */
    display: block; /* Ogni elemento sarà a capo */
    text-align: center; /* Centra il testo all'interno di ogni elemento */
}

.benefits-list li::after {
    content: '';
    position: absolute;
    bottom: 0; /* Posiziona la sottolineatura sotto il testo */
    left: 0; /* Inizia la sottolineatura all'inizio del testo */
    width: 100%; /* Larghezza della sottolineatura uguale al testo */
    height: 3px; /* Altezza della sottolineatura */
    background-color: #F48037; /* Colore della sottolineatura */
    opacity: 0.7; /* Trasparenza iniziale */
    z-index: -1; /* Posiziona la sottolineatura dietro il testo */
    transition: opacity 0.3s, height 0.3s; /* Effetto transizione per hover */
}

.benefits-list li:hover::after {
    opacity: 1; /* Sottolineatura completamente visibile al passaggio del mouse */
    height: 5px; /* Aumenta lo spessore della sottolineatura */
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #F48037;
    color: #ECE9E4;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #E06A33;
}

/* Sezione Small Group */

/* Sezione inizialmente nascosta */
.small-group-content {
    opacity: 0;
    transform: translateY(20px); /* Sposta il contenitore verso il basso */
    transition: opacity 1.5s ease, transform 1.5s ease; /* Transizione fluida */
}

/* Contenuto visibile */
.small-group-content.visible {
    opacity: 1;
    transform: translateY(0); /* Riporta il contenuto alla posizione originale */
}

/* Card inizialmente nascoste */
.card-sm.transition {
    opacity: 0;
    transform: translateY(20px); /* Sposta le card verso il basso */
    transition: opacity 1s ease, transform 1s ease; /* Transizione fluida */
}

/* Card visibili */
.card-sm.transition.visible {
    opacity: 1;
    transform: translateY(0); /* Riporta le card alla posizione originale */
}

/* Stile generale per la sezione */
.small-group-section {
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.9);
    color: #ECE9E4;
    text-align: center;
}

.small-group-section h2 {
    font-size: 2.5rem;
    color: #F48037;
    margin-bottom: 30px;
}

.small-group-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Effetto transizione per tutto il contenuto */
.small-group-content.transition {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.small-group-content.transition.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Slider Container */
.slider-container {
    position: relative; /* Assicura che le frecce siano posizionate rispetto a questo contenitore */
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden; /* Nasconde gli elementi che escono dal contenitore */
    padding: 0 40px; /* Spazio extra per le frecce */
    box-sizing: border-box; /* Include il padding nella larghezza totale */
}

/* Card Slider */
.card-sm-slider {
    display: flex;
    gap: 20px;
    overflow-x: hidden; /* Scorrimento orizzontale */
    scroll-behavior: smooth; /* Scorrimento fluido */
    width: calc(100% - 100px); /* Lascia spazio per le frecce */
    margin-left: auto; /* Bilancia margini per centrare il contenuto */
    margin-right: auto;
    justify-content: flex-start; /* Allinea le card a sinistra */
    scrollbar-width: none; /* Nasconde la barra di scorrimento */
    padding: 20px 10px; /* Margine superiore e inferiore per compensare lo zoom */
}

.card-sm-slider::-webkit-scrollbar {
    display: none; /* Nasconde la barra di scorrimento */
}

/* Card */
.card-sm {
    flex: 0 0 calc((100% - 80px) / 3); /* Tre card visibili con gap */
    max-width: calc((100% - 80px) / 3);
    background-color: #F0EEE9;
    border-radius: 8px;
    border: 3px solid #F48037; /* Aggiunge un bordo colorato */
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    
}

.card-sm img {
    width: 100%;
    height: 150px;
    object-fit: cover; /* Adatta l'immagine al contenitore */
}

.card-sm-content {
    padding: 15px;
    color: #383E42;
}

.card-sm-content h3 {
    font-size: 1.5rem;
    color: #F48037;
    margin-bottom: 10px;
}

.card-sm-content p {
    font-size: 1rem;
    line-height: 1.5;
}

.card-sm:hover {
    transform: scale(1.05); /* Effetto zoom al passaggio del mouse */
}

/* Frecce */
.arrowsm {
    position: absolute;
    background: rgba(0, 0, 0, 0.7); /* Sfondo semi-trasparente */
    border: none;
    color: #ECE9E4;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Forma circolare */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Porta sopra le card */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.arrowsm:hover {
    background: #F48037;
    color: white;
    transform: scale(1.1); /* Ingrandisce leggermente la freccia al passaggio del mouse */
}

.arrowsm-left {
    left: 10px; /* Posiziona la freccia a sinistra */
    top: 50%; /* Allinea verticalmente */
    transform: translateY(-50%);
}

.arrowsm-right {
    right: 10px; /* Posiziona la freccia a destra */
    top: 50%; /* Allinea verticalmente */
    transform: translateY(-50%);
}

/* Introduzione dei Percorsi Personalizzati Online */
.intro-section {
    text-align: center;
    color: #ECE9E4;
    background: rgba(0, 0, 0, 0.9); /* Trasparenza del nero (70%) */
    padding: 40px 20px;
    font-size: 1.2rem;
    line-height: 1.8;
    position: relative; /* Necessario per sovrapporre il testo all'immagine */
    z-index: 1; /* Porta il contenuto in primo piano */
}

.intro-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Image/Sfondo\ servizi.jpg') no-repeat center center; /* Sostituisci con il percorso della tua immagine */
    background-size: cover;
    filter: grayscale(100%); /* Rende l'immagine in bianco e nero */
    z-index: -1; /* Porta l'immagine sullo sfondo */
    opacity: 0.4; /* Effetto trasparenza sull'immagine */
}

.intro-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #F48037;
}

.intro-section p {
    max-width: 800px;
    margin: 0 auto;
}

.highlight {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #ECE9E4;
}

.highlight::after {
    content: '';
    position: absolute;
    bottom: 0; /* Posiziona l'immagine sotto il testo */
    left: 0;
    width: 100%;
    height: 15px; /* Altezza della pennellata */
    background: url('Image/brush-stroke.png') no-repeat center;
    background-size: cover; /* Assicura che l'immagine si adatti perfettamente */
    z-index: -1;
}

.arrow {
    margin-top: 20px;
}

.arrow p {
    font-size: 1.2rem;
    color: #ECE9E4;
}

/* Descrizione Percorsi personalizzati online */
main {
    background: rgba(0, 0, 0, 0.9); /* Sfondo nero trasparente */
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Facoltativo: aggiunge profondità */
    min-height: 100vh; /* L'altezza minima sarà pari all'altezza della finestra */
}

.service-section {
    margin: 50px 0;
    text-align: center;
}

/* Freccia */
.arrow-down {
    text-align: center;
    margin: -20px 0 10px; /* Porta la freccia verso il margine superiore della sezione */
    position: relative;
    z-index: 2; /* Garantisce che la freccia sia visibile sopra altri elementi */
}

.arrow-down i {
    font-size: 3rem; /* Dimensione della freccia */
    color: #F48037; /* Colore della freccia */
}

/* Titolo delle Tabelle */
.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.5rem; /* Dimensione più piccola per "PERCORSO" */
    background-color: #F48037; /* Sfondo colorato */
    color: white; /* Colore del testo */
    padding: 5px 10px; /* Spaziatura intorno al testo */
    text-transform: uppercase; /* Tutte le lettere maiuscole */
    margin-bottom: 5px; /* Spazio tra "PERCORSO" e "EVOLUTION" */
}

.main-title {
    font-size: 2.5rem; /* Dimensione più grande per "EVOLUTION" */
    color: #F48037; /* Colore del testo */
    font-weight: bold; /* Testo in grassetto */
    letter-spacing: 10px; /* Aumenta la spaziatura tra le lettere */
}

/* Tabelle */
.service-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: transparent;
    color: #ECE9E4;
    font-size: 1.2rem;
}

.service-table td {
    border: 5px solid #F48037;
    padding: 15px;
    text-align: center;
}

.service-table tr:first-child td {
    font-weight: bold;
    color: white;
}


