/* Aggiungi un font moderno */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Definisci l'animazione di dissolvenza */
@keyframes fadeIn {
    0% {
        opacity: 0;  /* Inizia invisibile */
    }
    100% {
        opacity: 1;  /* Diventa visibile */
    }
}

/* Reset dei margini e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e font */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #383E42;
    color: #ECE9E4;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Inserimento trasparenza */
    /*background-color: rgba(0, 0, 0, 0.7); */ /* Nero con il 70% di opacità */
    /* position: fixed; *//* Rende la barra di navigazione fissa in cima alla pagina */
    /* width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;*/ /* Mantiene la barra sopra gli altri elementi */
    /* padding: 10px 20px; */ /* Distanza tra il bordo e gli elementi */ 
    /* transition: background-color 0.3s ease;*/ /* Transizione per il colore di sfondo */
}

/* Logo */
header .logo {
    margin-left: 20px;
}

header .logo img {
    max-width: 200px;
    height: auto;   
}

/* Navigazione */
header nav {
    flex-grow: 1;   /* Questo fa sì che il contenitore nav occupi lo spazio rimanente */
    display: flex;
    justify-content: flex-start; /* Allinea i link verso sinistra */
    padding-left: 200px; 
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 0;
}

header nav ul li {
    margin: 0 40px;
}

header nav ul li a {
    color: #ECE9E4;
    text-decoration: none;
    font-size: 1.0rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #F48037;   /* Colore al passaggio del mouse (arancio) */
}

/* Sezione Hero */
.hero {
    background: url('Image/training-828741_1280.jpg') no-repeat center center;
    background-size: cover;
    color: #ECE9E4;
    text-align: left;
    padding: 100px 0;
    height: 100vh;  /* Imposta l'altezza della sezione hero pari all'altezza della finestra */
}

/* Applicare l'animazione al testo */
.hero h2, .hero p {
    animation: fadeIn 2s ease-out;
    opacity: 0;  /* Imposta l'opacità iniziale a 0 */
    animation-delay: 0.5s;  /* Ritarda di mezzo secondo l'inizio dell'animazione (opzionale) */
    animation-fill-mode: forwards;  /* Mantieni l'opacità finale dopo l'animazione */
}

.hero-content {
    max-width: 800px;
    margin: 0;
    padding-left: 80px;
}

/* Stile per il pulsante */
.button {
    display: inline-block;
    padding: 12px 30px;
    background-color: #F48037;
    color: #ECE9E4;
    text-align: center;
    text-decoration: none;
    border: 2px solid #F48037;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 20px; /* Aggiungi uno spazio sopra al pulsante */
    transition: background-color 0.3s;
    opacity: 0;  /* Impostiamo l'opacità iniziale a 0 */
    animation: fadeIn 2s ease-out;  /* Applicare la stessa animazione di dissolvenza */
    animation-delay: 1s;  /* Ritardo per far apparire il pulsante dopo il testo */
    animation-fill-mode: forwards;  /* Mantieni l'opacità finale dopo l'animazione */
}

.button:hover {
    background-color: transparent;
    border-color: #F48037;
}

.hero h2 {
    font-size: 4.5rem;
}

.hero p {
    font-size: 1.5rem;
    color: #F0EEE9;
}

/* Servizi */
.servizi {
    display: flex;
    flex-direction: column; /* Dispone gli elementi verticalmente */
    align-items: center; /* Centra gli elementi orizzontalmente */
    padding: 50px 0;
    background-color: #ECE9E4;
}

.servizi h2 {
    margin: 0; /* Rimuove i margini predefiniti */
    color: #383E42; /* Colore del testo */
    font-size: 2.5rem; /* Dimensione del titolo */
    text-align: center; /* Allinea il testo al centro */
}

/* Container per le card */
.card-container {
    display: flex; /* Dispone le card in fila orizzontale */
    justify-content: space-around; /* Spaziatura uniforme tra le card */
    gap: 20px; /* Distanza tra le card */
    margin-top: 2rem; /* Spazio tra il titolo e le card */
    width: 100%; /* Occupa tutta la larghezza della sezione */
}

.card {
    background-color: #F0EEE9;
    color: #383E42;
    border-radius: 8px;
    border: 3px solid #F48037; /* Aggiunge un bordo colorato */
    padding: 1rem;
    text-align: center;
    width: 30%; /* Ogni card occupa il 30% della larghezza */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
}

.card img {
    width: 100%; /* La larghezza dell'immagine si adatta alla larghezza della card */
    height: 200px; /* Imposta un'altezza fissa per tutte le immagini */
    object-fit: cover; /* Ritaglia l'immagine per adattarla al contenitore senza distorsioni */
    border-radius: 8px; /* Mantiene gli angoli arrotondati */
}

.card h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
}

.card-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #F48037;
    color: #ECE9E4;
    text-align: center;
    text-decoration: none;
    border: 2px solid #F48037;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: transparent;
    color: #383E42;
    border-color: #F48037;
}


/* Testimonianze 
.testimonianze {
    text-align: center;
    padding: 2rem 0;
}

.testimonianza {
    margin-bottom: 1.5rem;
    font-style: italic;
}
*/

/* Contatti 
.contatti {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.contatti form {
    margin-top: 20px;
}

.contatti input, .contatti textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.contatti button {
    padding: 10px 20px;
    background-color: #ff6600;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.contatti button:hover {
    background-color: #e55b00;
}
*/

/* Footer */
footer {
    background-color: #383E42; /* Colore di sfondo */
    color: #ECE9E4; /* Colore del testo */
    padding: 40px 0;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* Crea 4 colonne di larghezza uguale */
    gap: 20px;  /* Distanza tra le colonne */
}

.footer-section {
    padding: 10px;
}

.footer-section h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    font-size: 1rem;
    color: #ECE9E4;
    text-decoration: none;
}

.footer-section a:hover {
    color: #F48037;
}

.footer-section i {
    font-size: 2rem;  /* Imposta la dimensione dell'icona */
    color: #ECE9E4;  /* Colore dell'icona */
    margin: 10px;  /* Distanza tra le icone */
    transition: color 0.3s ease;  /* Effetto di transizione per il cambio colore */
}

.footer-section i:hover {
    color: #F48037;  /* Colore delle icone al passaggio del mouse */
}


/* Pagina Web Servizi */

/* Introduzione dei Percorsi Personalizzati Online */
.intro-section {
    text-align: center;
    color: #ECE9E4;
    background: rgba(0, 0, 0, 0.9); /* Trasparenza del nero (70%) */
    padding: 40px 20px;
    font-size: 1.2rem;
    line-height: 1.8;
    position: relative; /* Necessario per sovrapporre il testo all'immagine */
    z-index: 1; /* Porta il contenuto in primo piano */
}

.intro-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Image/Sfondo\ servizi.jpg') no-repeat center center; /* Sostituisci con il percorso della tua immagine */
    background-size: cover;
    filter: grayscale(100%); /* Rende l'immagine in bianco e nero */
    z-index: -1; /* Porta l'immagine sullo sfondo */
    opacity: 0.4; /* Effetto trasparenza sull'immagine */
}

.intro-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #F48037;
}

.intro-section p {
    max-width: 800px;
    margin: 0 auto;
}

.highlight {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #ECE9E4;
}

.highlight::after {
    content: '';
    position: absolute;
    bottom: 0; /* Posiziona l'immagine sotto il testo */
    left: 0;
    width: 100%;
    height: 15px; /* Altezza della pennellata */
    background: url('Image/brush-stroke.png') no-repeat center;
    background-size: cover; /* Assicura che l'immagine si adatti perfettamente */
    z-index: -1;
}

.arrow {
    margin-top: 20px;
}

.arrow p {
    font-size: 1.2rem;
    color: #ECE9E4;
}

/* Descrizione Percorsi personalizzati online */
main {
    background: rgba(0, 0, 0, 0.9); /* Sfondo nero trasparente */
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Facoltativo: aggiunge profondità */
    min-height: 100vh; /* L'altezza minima sarà pari all'altezza della finestra */
}

.service-section {
    margin: 50px 0;
    text-align: center;
}

/* Freccia */
.arrow-down {
    text-align: center;
    margin: -20px 0 10px; /* Porta la freccia verso il margine superiore della sezione */
    position: relative;
    z-index: 2; /* Garantisce che la freccia sia visibile sopra altri elementi */
}

.arrow-down i {
    font-size: 3rem; /* Dimensione della freccia */
    color: #F48037; /* Colore della freccia */
}

/* Titolo delle Tabelle */
.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.5rem; /* Dimensione più piccola per "PERCORSO" */
    background-color: #F48037; /* Sfondo colorato */
    color: white; /* Colore del testo */
    padding: 5px 10px; /* Spaziatura intorno al testo */
    text-transform: uppercase; /* Tutte le lettere maiuscole */
    margin-bottom: 5px; /* Spazio tra "PERCORSO" e "EVOLUTION" */
}

.main-title {
    font-size: 2.5rem; /* Dimensione più grande per "EVOLUTION" */
    color: #F48037; /* Colore del testo */
    font-weight: bold; /* Testo in grassetto */
    letter-spacing: 10px; /* Aumenta la spaziatura tra le lettere */
}

/* Tabelle */
.service-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: transparent;
    color: #ECE9E4;
    font-size: 1.2rem;
}

.service-table td {
    border: 5px solid #F48037;
    padding: 15px;
    text-align: center;
}

.service-table tr:first-child td {
    font-weight: bold;
    color: white;
}


